header .nav-wrapper {
  background-color: var(--brand-primary);
  width: 100%;
  z-index: 2;
  position: fixed;
  color: var(--color-white);
  box-shadow: 0 .2rem .2rem rgb(0 0 0 / 20%);
}

header .nav-wrapper > nav > .section > .default-content-wrapper {
  padding: 42px 15px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-wrapper > nav > .section > .default-content-wrapper img {
  max-width: 130px;
  height: auto;
}

header .nav-wrapper > nav > .section > .default-content-wrapper p {
  font-size: 16px;
}

@media (width >= 900px ) {
  header .nav-wrapper > nav > .section > .default-content-wrapper p {
    font-size: 22px;
  }

  header .nav-wrapper > nav > .section > .default-content-wrapper img {
    max-width: 200px;
  }
}